# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/MultiClientTimes.txt
src/FilesToSend/fish1
src/FilesToSend/fish10
src/FilesToSend/fish100
src/FilesToSend/fishy1
src/FilesToSend/fishy10
src/FilesToSend/fishy100
*.txt
